{%extends 'base.html'%}
{%block container%}


            <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>About Us</h2>
                                <span>Home / <a href="{% url 'about' %}">About us</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="timeline-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Who We Are</h2>
                                <img src="/static/images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                        	<h3>Our Company</h3>
                            <p>Zaif World started in the year 2010 as a manufacturer
                             and dealer of roof tiles & pavers. Our main aim of business is to promote Clay tiles &
                             pavers in Kerala and other states.</p>
                             <p>It is our honor to give the best service to our Customers.</p>
                             <p>
                             Product available with us :-</p>
                        </div>
                        <!-- <div class="col-md-6">
                        	<h3></h3>

                        </div> -->
                    </div>

                    <div class="space50"></div>

                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline1.jpg" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                        <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline2.gif" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                        <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline3.jpg" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                  <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline4.jpg" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                        <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline5.jpg" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                        <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="/static/images/timeline6.jpg" alt="" style="height:165px; width:165px;">
                                </div>
                                <div class="overlay">
                                    <div class="timeline-caption">
                                      <h4>Zaif World</h4>

                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6" id="water">
                          <h3>Water Proofing</h3>
                          <p>In Construction, a Building or Structure needs water proofing since concrete itself will not be water tight.
                          Zaif Tiles team of water proofing has better solution against Leakages, Seepages and Dampness.</p>

                          <p>Water is perhaps the best friend and the worst foe of concrete. Concrete needs a calculated amount of
                           water to facilitate strength development by the hydration of cement and to attain desired workability; at the same time ,
                           any excess water results in the formation of voids of varying sizes in the concrete matrix, resulting in serious durability
                           problems later on in the services life of the structure. Thus it is very essential that the amount of water to be added into
                            concrete is gauged correctly and the use of water reducing admixture like plasticizers and super plasticizers be advocated. A dense,
                             impermeable concrete is the key to durability and this is the first line of defense against deteriorating agents.</p>
                          <p>Ensuring Dense Concrete :</p>
                          <p>Proper control of quality in construction and using good materials is perhaps the best way to ensure dense,
                           durable and reliable concrete. The water-cement ratio is to be kept as low as possible so that the formation of voids by trapped excess
                           water is minimized. To aid in reducing water-cement ratio and at the same time ensuring workability admixture like plasticizers and super
                            plasticizers and integral water proofing compounds in the form of powder or liquid are recommended.</p>
                        </div>
                        <div class="col-md-6" id="weather">
                          <h3>Weather Proofing</h3>
                          <p>We have the simplest technical remedy to stop the leakage of R.C.C.
                           Roof or any other flat Roof including Stone Slab Roof.
                          It is very Economical, Eco-friendly and easy to lay. This is the most
                            effective insulator against extreme climate conditions. Due to the heat in the day time the slab
                             will expand and cooling in the night will lead to contraction causing minute cracks initially on the
                              ordinary cement Roof slab. Once the crack widens the water will enter into R.C.C. slab and start wetting
                               the inner surface which will lead to the falling of water in droplets. The iron bars will start corroding
                                causing increase in volume, consequently enlargement of the crack will cause more leakage of Roof.
                                 If not checked in time, the strength of the Building will be deteriorated considerably. Split Tiles are an
                                  excellent remedy to prevent the leakage.
                        <p><strong>SPLIT  TILES</strong></p>
                        <p>Split tiles are manufactured using the most latest technology in this field.
                         After the selection of various types of clay they are proportionately mixed using Mixer, Crusher and fine grinder
                          before extrusion through polisher. Clay is kept for ageing before final extrusion through De-airing Machine.
                           De-Airing is the latest method in Terracotta wherein entire air from the clay molecules is drawn out using high power vacuum pumps.
                        This process will render more compatibility, strength and fine finish to the Tiles.</p>
                        <p>Our Search for excellence had commenced since long back in 1942 and the endeavor continues with
                        a chain of Establishment spread all over south India with a excellent R&D back up.

                        </p>
                        </div>
                    </div>

                </div>
            </div>





<!--
            <div id="our-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Our Team</h2>
                                <img src="/static/images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="authors">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="/static/images/author1.jpg" alt="Tracy - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Tracy</h2>
                                     <span>Designer</span>
                                 </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="/static/images/author2.jpg" alt="Mary - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Mary</h2>
                                     <span>Developer</span>
                                 </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="/static/images/author3.jpg" alt="Julia - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Julia</h2>
                                     <span>Director</span>
                                 </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="/static/images/author4.jpg" alt="Linda - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Linda</h2>
                                     <span>Manager</span>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->






            <div id="testimonails">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Testimonials and Awards</h2>
                                <img src="/static/images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonails-slider">
                              <ul class="slides">
                                {%for t in testimonial%}
                                <li>
                                    <div class="testimonails-content">
                                        <p>{{t.message}}</p>
                                        <h6>Posted by - <a href="#">{{t.name}}</a></h6>
                                    </div>
                                </li>
                                {%endfor%}


                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  <div class="space50"></div>

            <div class="accent-button">
              <center>
            <a href="#openModal"   style="background-color: #6E9E09;
              padding: 15px 30px;
              font-family: 'Montserrat', sans-serif;
              font-size: 11px;
              text-transform: uppercase;
              color: #222222;
              letter-spacing: 2px;
              display: inline-block;">WRITE A TESTIMONIAL</a>
            </center>
            </div>

            <div id="openModal" class="modalDialog">
              <div style="text-align:center; ">
                <a href="#close" title="Close" class="close">X</a>
                <h2>Testimonial</h2>

                     <form  id="testimonial-form" method="post">

                       {%csrf_token%}
                       <div id="tsuccess" style="display:none">
                       Testimonial send successfully!!.......
                        </div>
                        <div id="tloading" style="display:none">
                         loading!!.......
                          </div>
                       <div id="tfail" style="display:none">
                        Error Found!!.......
                         </div>
                         <div id="tnull" style="display:none; color:red;">
                          *required field.
                          </div>


                           <input type="text" id="tname" name="tname" placeholder="*Full Name" value="" style="  margin-top: 10px;
                             margin-bottom: 10px;  background-color: #03428B;
                               padding: 5px 5px; width:300px; color:white;"><br />


                           <input type="text" id="temail" name="temail" placeholder="*E-mail Address" value="" style="  margin-top: 10px;
                             margin-bottom: 10px;  background-color: #03428B;
                               padding: 5px 5px; width:300px; color:white;"><br />


                           <input type="text" id="tphone" name="tphone" placeholder="*Phone Number" value="" style="  margin-top: 10px;
                             margin-bottom: 10px;  background-color: #03428B;
                               padding: 5px 5px; width:300px; color:white;"><br />


                           <textarea id="tmessage" class="message" name="tmessage" placeholder="*Write message" style="  margin-top: 10px;
                             margin-bottom: 10px;  background-color: #03428B;
                               padding: 5px 5px; width:300px; height:150px; color:white;"></textarea><br />


                       <div class="accent-button">
                         <a href="javascript:;" name="submit" onclick="Submittest()" style="background-color: #6E9E09;
                           padding: 15px 30px;
                           font-family: 'Montserrat', sans-serif;
                           font-size: 11px;
                           text-transform: uppercase;
                           color: #222222;
                           letter-spacing: 2px;
                           display: inline-block;">Submit Testimonial</a>
                       </div>

                   </form>



              </div>
            </div>


                    <script type="text/javascript">



                  function Submittest() {

                  $('#tloading').css('display','block');


                        var formData = new FormData($('#testimonial-form')[0]);



                        $.ajax({
                                url: "{% url 'testimonial' %}",
                                type: 'POST',
                                data: formData,
                                async: true,
                                cache: false,
                                contentType: false,
                                processData: false,

                                success: function(response_data) {

                                if(response_data.status=='success')
                                {


                                     $('#tname').val('');
                                     $('#temail').val('');
                                     $('#tphone').val('');
                                     $('#tmessage').val('');

                                     $('#tsuccess').css('display','block');
                                    $('#tfail').css('display','none');
                                    $('#tnull').css('display','none');
                                    $('#tloading').css('display','none');

                                }else {

                                  $('#tsuccess').css('display','none');
                                    $('#tfail').css('display','block');
                                    $('#tnull').css('display','none');
                                    $('#tloading').css('display','none');
                                }
                                if(response_data.status=='nullval')
                                {
                                  $('#tsuccess').css('display','none');
                                    $('#tfail').css('display','none');

                                    $('#tloading').css('display','none');
                                    $('#tnull').css('display','block');
                                  }
                            } // end of success

                        }); // end of $.ajax
                }



                   </script>

{%endblock%}
